/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes moving {
  from { transform: translateX(0); 
  }
  to { transform: translateX(4px); 
  }
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  transition: fill 0.3s linear;
}

.contour {
  transition: fill 0.3s linear 0.06s;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--like-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:active .main-body {
  fill: var(--like-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--like-color);
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--like-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--like-color);
}

.like-icon.is-liked .heart {
  transform-origin: center center;
  animation: scaleHeart 0.3s ease-in 0.1s 2 alternate;
}

.like-icon.is-liked .sparks {
  animation: rays 0.3s ease-in 0.3s 2 alternate;
}

@keyframes scaleHeart {
  from {
    scale: 1;
  }
  to {
    scale: 1.5;
  }
}

@keyframes rays {
  from {
    fill: transparent;
  }
  to {
    fill: var(--like-color);
  }
}