/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--accent-color, #000);
  background: var(--background-linear);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--main-font, sans-serif);
  font-variation-settings: var(--font-weight-title);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
  text-transform: uppercase;
  border: 2px solid currentColor;
  background-color: var(--backgroud-color, #fff);
  font-family: var(--accent-font-family, "PressStart2P-Regular", fantasy);
  max-inline-size: 700px;
}

.header__logo {
  margin: 100px auto 20px;
  font-size: 49px;
  text-decoration: none;
}

.header__logo:focus-visible {
  outline: none;
}

.header__title {
  font-size: 14px;
  margin: 20px auto 25px;
}

.header__title:focus {
  outline: none;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.header__theme-menu {
  margin-block: 25px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.card {
  border: 2px solid currentColor;
  background-color: var(--backgroud-color, #fff);
}

.card__title {
  margin: 4px 10px 6px 10px;
  font-size: 18px;
}

.card__image {
  position: relative;
}

.card__image-item {
  inline-size: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.card__image-title {
  position: absolute;
  font-size: 14px;
  z-index: 1;
  inset-block-start: clamp(1.4375rem, 1.3935rem + 0.1878vw, 1.5625rem);
  inset-inline-end: clamp(1.6875rem, 0.3794rem + 1.3146vw, 1.5625rem);
  text-shadow: -1px 0 var(--backgroud-color, #fff),
  0 1px var(--backgroud-color, #fff), 1px 0 var(--backgroud-color, #fff),
  0 -1px var(--backgroud-color, #fff);
  opacity: 0.5;
}

.card__content {
  display: grid;
  padding-inline: 25px;
  padding-block: 25px;
}

.card__content-text:not(:last-of-type){
  margin-block-end: 27px;
}

.card__content-text:last-of-type {
  margin-block-end: 25px;
}

.card__buttons {
  display: flex;
  justify-content: end;
  align-items: center;
}

.button {
  position: relative;
  border: 2px solid var(--accent-color);
  padding: 10px 35px;
  box-shadow: 0 0 0 var(--accent-color);
  overflow: hidden;
  font-family: var(--accent-font);
  font-size: 14px;
  background-color: var(--background-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color, #000);
  transition: inline-size 0.5s ease-in-out;
  block-size: 100%;
  inline-size: 0;
}

.button:hover::before {
  inline-size: 100%;
}

.card__like-button {
  min-inline-size: 130px;
  padding: 10px 0;
}

.button__text {
  display: block;
  color: var(--button-color-title);
  mix-blend-mode: difference;
}

.card__icon-button,
.button {
  cursor: pointer;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline-end: 6px;
  border: 0;
  padding: 1px;
  outline: 2px solid transparent;
  outline-offset: -1px;
  background-color: transparent;
  transition: outline 0.3s ease;
  block-size: 35px;
  inline-size: 40px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.like-icon {
  block-size: 100%;
  inline-size: 100%;
}
