/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 375px;
  min-block-size: 100dvb;
  max-inline-size: 700px;
  color: var(--accent-color);
  background: var(--background-linear);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--main-font, sans-serif);
  font-variation-settings: var(--font-weight-title);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
  text-transform: uppercase;
  border: 2px solid currentColor;
  background-color: var(--background-color);
  font-family: var(--accent-font-family, "PressStart2P-Regular", fantasy);
  max-inline-size: 700px;
}

.header__logo {
  margin: 100px auto 20px;
  font-size: 49px;
  text-decoration: none;
}

.header__logo:focus-visible {
  outline: none;
}

.header__title {
  font-size: 14px;
  margin: 20px auto 25px;
}

.header__title:focus {
  outline: none;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.header__theme-menu {
  margin-block: 25px;
}

.theme-menu__button {
  position: relative;
  padding: 0;
  background-color: transparent;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  display: block;
  transition: inline-size 0.3s ease;
  inset-block-end: -3px;
  inset-inline-start: 0;
  block-size: 2px;
  inline-size: 0;
  background-color: currentColor;
}

.theme-menu__button:focus::after {
  inline-size: 100%;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  display: block;
  color: var(--accent-color);
  animation: moving 0.5s infinite ease-in-out alternate;
  block-size: 14px;
  inline-size: 14px;
  inset-inline-start: -20px;
  inset-block-start: 0;
}

.card {
  border: 2px solid currentColor;
  background-color: var(--background-color);
  margin-block-end: 50px;
}

.card__title {
  margin: 4px 10px 6px 10px;
  font-size: 18px;
}

.card__image {
  position: relative;
}

.card__image-item {
  inline-size: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.card__image-title {
  position: absolute;
  font-size: 14px;
  z-index: 1;
  inset-block-start: clamp(1.4375rem, 1.3935rem + 0.1878vw, 1.5625rem);
  inset-inline-end: clamp(1.6875rem, 0.3794rem + 1.3146vw, 1.5625rem);
  font-family: var(--accent-font);
  text-shadow: -1px 0 var(--background-color,),
  0 1px var(--background-color);
  opacity: 0.5;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .card__image-title {
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
    text-shadow: none;
  }
}

.card__content {
  display: grid;
  padding-inline: 25px;
  padding-block: 25px;
}

.card__content-text:not(:last-of-type) {
  margin-block-end: 27px;
}

.card__content-text:last-of-type {
  margin-block-end: 25px;
}

.card__buttons {
  display: flex;
  justify-content: end;
  align-items: center;
}

.button {
  position: relative;
  border: 2px solid var(--accent-color);
  padding: 10px 35px;
  box-shadow: 0 0 0 var(--accent-color);
  overflow: hidden;
  font-family: var(--accent-font);
  font-size: 14px;
  background-color: var(--background-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transition: inline-size 0.5s ease-in-out;
  block-size: 100%;
  inline-size: 0;
}

.button:hover::before {
  inline-size: 100%;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.card__like-button {
  min-inline-size: 130px;
  padding: 10px 0;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.button__text {
  display: block;
  color: var(--button-color-title);
  mix-blend-mode: difference;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline-end: 6px;
  border: 0;
  padding: 1px;
  outline: 2px solid transparent;
  outline-offset: -1px;
  background-color: transparent;
  transition: outline 0.3s ease;
  block-size: 35px;
  inline-size: 40px;
}

.like-icon {
  block-size: 100%;
  inline-size: 100%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-end: 102px;
}

.save__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  padding: 18.5px 20px;
  cursor: pointer;
  gap: 8px;
}

@media (width <= 375px) {
  .save__button {
    flex-direction: column;
    width: 312px;
    height: 84px;
  }
}

.save__button span {
  text-wrap: nowrap;
}

dialog {
  border: 2px solid var(--accent-color);
  padding: 0;
  background-color: var(--background-color);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

.save__dialoge-wrapper {
  padding: 30px 42px;
  max-inline-size: 357px;
}

.save__dialoge-content {
  display: flex;
  gap: 12px;
  margin-block-end: 30px;
}

.save__icon {
  inline-size: 21px;
  block-size: clamp(21px, 1.905rem + -0.6573vw, 28px);
}

.save__dialog-svg {
  min-inline-size: 39px;
  min-block-size: 39px;
}

.save__dialog-text {
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: 13px;
  line-height: 150%;
  text-transform: uppercase;
}

.save__dialog-button {
  inline-size: 100%;
  text-transform: uppercase;
}

.filter-one {
  filter: grayscale(0.5) contrast(1.4);
}

.filter-two {
  filter: saturate(2);
}

.filter-three {
  filter: hue-rotate(20deg) contrast(0.9);
}

.filter-four {
  filter: invert(0.8);
}

.filter-five {
  filter: sepia(1.5);
}

.filter-sixe {
  filter: blur(10px);
}

.filter-seven {
  filter: blur(3px) hue-rotate(100deg) contrast(0.5);
}