/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root{
  --main-font: 'Inter-Variable', sans-serif;
  --accent-font: 'PressStart2P-Regular';
  --font-weight-title: 700;
  --font-weight-content: 400;
  --background-color: #fff;
  --button-color-title: #fff;
  --accent-color: #000;
  --like-color: #ff0000;
  --background-linear: repeating-linear-gradient(
      90deg,
      #d3d3d3 0px 2px,
      rgba(0, 0, 0, 0) 2px 4px
    ),
    repeating-linear-gradient(180deg, #d3d3d3 0px 2px, rgba(0, 0, 0, 0) 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #1a1a1a 100%);
}