/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root{
  --main-font: 'Inter-Variable', sans-serif;
  --accent-font: 'PressStart2P-Regular';
  --font-weight-title: 700;
  --font-weight-content: 400;
  --backgroud-color: #fff;
  --button-color-title: #fff;
  --accent-color: #000;
  --like-color: #ff0000;
}